*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background: #f1f1f1;
  height: auto;
  cursor: crosshair;
  padding: 3px;
}

@font-face {
  font-family: 'BauReg';
  src: url("fonts/BauReg.woff");
  src: url("fonts/BauReg.woff2");
}

@font-face {
  font-family: 'BauMed';
  src: url("fonts/BauMed.woff");
  src: url("fonts/BauMed.woff2");
}


@font-face {
  font-family: 'BauLFReg';
  src: url("fonts/BauLFReg.woff");
  src: url("fonts/BauLFReg.woff2");
}

@font-face {
  font-family: 'BauLFRegIta';
  src: url("fonts/BauLFRegIta.woff");
  src: url("fonts/BauLFRegIta.woff2");
}

@font-face {
  font-family: 'BauLFMed';
  src: url("fonts/BauLFMed.woff");
  src: url("fonts/BauLFMed.woff2");
}

h1 {
  font-family: 'BauReg';
  font-size: 3em;
  line-height: 1.3em;
  margin: auto;
  max-width: 900px;
}

h2 {
  font-family: 'BauReg';
  font-size: 1.6em;
  line-height: 1.1em;
  max-width: 900px;
}

h4 {
  font-family: 'BauLFReg';
  font-size: 1em;
  line-height: 1.3em;
  max-width: 900px;
}

p {
  font-family: 'BauReg';
  font-size: 1em;
  line-height: 1.3em;
  max-width: 900px;
}

.collapsible {
  background-color: none;
  border-radius: 40px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:after {
  border-radius: 40px 40px 0px 0px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 0px 0px 40px 40px;
}

#collapsible-abstract {
  background: #151716;
}

#collapsible-introduction {
  background: #88c1dc;
}

#collapsible-chapter1 {
  background: #459664;
  color: #532d31;
}

#collapsible-chapter2 {
  background: #532d31;
  color: #75737d;
}

#collapsible-chapter3 {
  background: #75737d;
}

#collapsible-chapter4 {
  background: #e94e24;
}

#collapsible-conclusion {
  background: #270539;
}

#collapsible-references {
  background: #151716;
  color: #75737d;
}

#collapsible-bibliography {
  background: #151716;
  color: #75737d;
}

#content-chapter1 {
  background: #459664;
  color: #532d31;
}

.header {
  grid-area: header;
  color: white;
}

.title {
  grid-area: title;
  padding: 20px;
}

.abstract {
  grid-area: abstract;
  padding: 20px;
}

.introduction {
  grid-area: introduction;
}

.chapter1 {
  grid-area: chapter1;
}

.chapter2 {
  grid-area: chapter2;
}

.chapter3 {
  grid-area: chapter3;
}

.chapter4 {
  grid-area: chapter4;
}

.conclusion {
  grid-area: conclusion;
}

.references {
  grid-area: references;
}

.bibliography {
  grid-area: bibliography;
}

footer {
  grid-area: footer;
  background: #151716;
  border-radius: 40px;
  height: 100vh;
}

@media only screen and (max-width: 872px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, auto);
    grid-template-areas:
      "header"
      "title"
      "abstract"
      "introduction"
      "chapter1"
      "chapter2"
      "chapter3"
      "chapter4"
      "conclusion"
      "references"
      "bibliography"
      "footer";
    grid-gap: 2px;
  }
}
